---
layout: "downloads"
page_title: "Download Terraform"
sidebar_current: "downloads-terraform"
description: |-
  Download Terraform
show_notification: false
---

<h1>Download Terraform</h1>

<section class="downloads">
  <div class="description row">
    <div class="col-md-12">
      <p>
        Below are the available downloads for the latest version of Terraform
        (<%= latest_version %>). Please download the proper package for your
        operating system and architecture.
      </p>
      <p>
        Terraform is distributed as a single binary. Install Terraform by
        unzipping it and moving it to a directory included in your system's
        <a href="https://superuser.com/questions/284342/what-are-path-and-other-environment-variables-and-how-can-i-set-or-use-them">
          <code>PATH</code>
        </a>.
      </p>
      <p>
        You can find the
        <a href="https://releases.hashicorp.com/terraform/<%= latest_version %>/terraform_<%= latest_version %>_SHA256SUMS">
          SHA256 checksums for Terraform <%= latest_version %>
        </a>
        online and you can
        <a href="https://releases.hashicorp.com/terraform/<%= latest_version %>/terraform_<%= latest_version %>_SHA256SUMS.sig">
          verify the checksums signature file
        </a>
        which has been signed using <a href="https://www.hashicorp.com/security" target="_blank" rel="nofollow noopener noreferrer">HashiCorp's GPG key</a>.
        You can also <a href="https://releases.hashicorp.com/terraform/" target="_blank" rel="nofollow noopener noreferrer">download older versions of Terraform</a> from the releases service.
      </p>
      <p>
      Check out the <a href="https://github.com/hashicorp/terraform/blob/v<%= latest_version %>/CHANGELOG.md">v<%= latest_version %> CHANGELOG</a> for information on the latest release.
      </p>

      <div class="alert alert-info" role="alert">
        <p><strong>Note:</strong> If you're upgrading from an older version of Terraform then there may be some extra notes or upgrade steps. Please refer to the <a href="/upgrade-guides/index.html">Upgrade Guides</a> to learn more.</p>
      </div>
    </div>
  </div>

  <% product_versions.each do |os, arches| %>
    <div class="row">
      <div class="col-md-12 download">
        <div class="icon pull-left"><%= system_icon(os) %></div>
        <div class="details">
          <h2 class="os-name g-type-display-4"><%= pretty_os(os) %></h2>
          <ul>
            <% arches.each do |arch, url| %>
              <li><a href="<%= url %>"><%= pretty_arch(arch) %></a></li>
            <% end %>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="learn-cta">
          <%= inline_svg "grad-hat.svg", width: 20, height: 15 %>
          <p>Get started with a hands-on tutorial at <a href="https://learn.hashicorp.com/terraform?utm_source=terraform_io_download">HashiCorp Learn</a></p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12 poweredby">
      <a href="https://www.fastly.com?utm_source=hashicorp" target="_blank" rel="nofollow noopener noreferrer">
        <%= inline_svg "fastly.svg", height: 50 %>
      </a>
    </div>
  </div>

  <div class='cloud-learn-cta'>
    <div class='top'>
      <h3>Getting Started</h3>
      <p>Terraform is distributed as a binary or as a package for each of the major operating systems and multiple Linux distributions. See the tutorials below which include instructions for your operating system.</p>
    </div>
    <div class='contain'>
      <div class='cloud'>
        <img src='/assets/images/terraform-cloud-logo.svg' alt='HashiCorp Terraform Cloud Logo' />
        <a href='https://app.terraform.io/signup/account?utm_source=terraform_io_download'>Sign up for Terraform Cloud</a>
      </div>
      <ul>
        <li><a href='https://learn.hashicorp.com/collections/terraform/aws-get-started?utm_source=terraform_io_download'>Get started with Terraform and AWS</a></li>
        <li><a href='https://learn.hashicorp.com/collections/terraform/azure-get-started?utm_source=terraform_io_download'>Get started with Terraform and Microsoft Azure</a></li>
        <li><a href='https://learn.hashicorp.com/collections/terraform/gcp-get-started?utm_source=terraform_io_download'>Get started with Terraform and Google Cloud</a></li>
      </ul>
    </div>
  </div>
</section>
