<% current_page.data.page_title = "#{current_page.data.page_title} - Terraform Cloud and Terraform Enterprise" %>

<% wrap_layout :inner do %>

  <% content_for :sidebar do %>

    <%# NOTE: All of the "real" sidebar content is defined in ./_cloud_content.erb. %>

    <h4><a href="/docs/cloud/index.html">Terraform Cloud / Terraform Enterprise</a></h4>

    <%= partial("layouts/cloud_content") %>

    <h5>Terraform Enterprise</h5>

    <ul class="nav docs-sidenav">
      <li>
        <a href="/docs/enterprise/index.html">Deployment and Operation</a>
      </li>
    </ul>

    <%= partial("layouts/otherdocs", :locals => { :skip => "Terraform Cloud" }) %>

  <% end %>

  <% if current_page.data.page_id %>
    <div id="<%= current_page.data.page_id %>">
      <%= yield %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
<% end %>
