<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("docs-home") %>>
        <a class="back" href="/docs/index.html">Documentation Home</a>
      </li>

      <li<%= sidebar_current("docs-enterprise-home") %>>
        <a class="back" href="/docs/enterprise/index.html">Terraform Enterprise (classic)</a>
      </li>

      <li<%= sidebar_current("docs-enterprise2-home") %>>
        <a class="back" href="/docs/enterprise2/index.html">Terraform Enterprise (beta)</a>
      </li>

      <hr>

      <li<%= sidebar_current("docs-enterprise2-started") %>>
        <a href="/docs/enterprise2/getting-started/index.html">Getting Started</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-enterprise2-started-access") %>>
            <a href="/docs/enterprise2/getting-started/access.html">Accessing TFE Beta</a>
          </li>
          <li<%= sidebar_current("docs-enterprise2-started-vcs") %>>
            <a href="/docs/enterprise2/getting-started/vcs.html">Configuring VCS Access</a>
          </li>
          <li<%= sidebar_current("docs-enterprise2-started-workspaces") %>>
            <a href="/docs/enterprise2/getting-started/workspaces.html">Creating Workspaces</a>
          </li>
          <li<%= sidebar_current("docs-enterprise2-started-runs") %>>
            <a href="/docs/enterprise2/getting-started/runs.html">Doing Terraform Runs</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-enterprise2-api") %>>
        <a href="/docs/enterprise2/api/index.html">API</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-enterprise2-api-workspaces") %>>
            <a href="/docs/enterprise2/api/workspaces.html">Workspaces API</a>
          </li>
          <li<%= sidebar_current("docs-enterprise2-api-variables") %>>
            <a href="/docs/enterprise2/api/variables.html">Variables API</a>
          </li>
          <li<%= sidebar_current("docs-enterprise2-api-run") %>>
            <a href="/docs/enterprise2/api/run.html">Runs API</a>
          </li>
          <li<%= sidebar_current("docs-enterprise2-api-linkable-repos") %>>
            <a href="/docs/enterprise2/api/linkable-repos.html">Linkable Repos API</a>
          </li>
        </ul>
      </li>

    </ul>
  <% end %>

  <%= yield %>
<% end %>
