<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("docs-extend-home") %>>
        <a href="/docs/extend/index.html">Extending Terraform</a>
      </li>
      <li<%= sidebar_current("docs-extend-how-terraform-works") %>>
        <a href="/docs/extend/how-terraform-works.html">How Terraform Works</a>
      </li>
      <li<%= sidebar_current("docs-extend-plugin-types") %>>
        <a href="/docs/extend/plugin-types.html">Plugin Types</a>
      </li>
      <li<%= sidebar_current("docs-extend-writing-custom-providers") %>>
        <!-- possibly make this "Guides" and collect some? -->
        <a href="/docs/extend/writing-custom-providers.html">Writing Custom Providers</a>
      </li>

      <li<%= sidebar_current("docs-extend-schemas") %>>
        <a href="/docs/extend/schemas/index.html">Schemas</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-extend-schemas-types") %>>
            <a href="/docs/extend/schemas/schema-types.html">Schema Types</a>
          </li>
          <li<%= sidebar_current("docs-extend-schemas-behaviors") %>>
            <a href="/docs/extend/schemas/schema-behaviors.html">Schema Behaviors</a>
          </li>
<%
#Not yet
=begin
          <li<%= sidebar_current("docs-extend-schemas-methods") \%\>>
          TODO: fix the \%\> above, it's changed to not mess with the multiline begin/end comment
            <!-- Document methods of type Schema: DiffSuppressFunc, DefaultFunc, StateFunc, et. al -->
            <a href="/docs/extend/schemas/schema-methods.html">Schema Methods</a>
          </li>
=end
%>
        </ul>
      </li>
      <li<%= sidebar_current("docs-extend-resources") %>>
        <a href="/docs/extend/resources.html">Resources</a>
      </li>
      <li<%= sidebar_current("docs-extend-best-practices") %>>
        <a href="/docs/extend/best-practices/index.html">Best Practices</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-extend-best-practices-naming") %>>
            <a href="/docs/extend/best-practices/naming.html">Naming</a>
          </li>
          
          <li<%= sidebar_current("docs-extend-best-practices-deprecations") %>>
            <a href="/docs/extend/best-practices/deprecations.html">Deprecations, Removals, and Renames</a>
          </li>

          <li<%= sidebar_current("docs-extend-best-practices-drift") %>>
            <a href="/docs/extend/best-practices/detecting-drift.html">Detecting Drift</a>
          </li>

          <li<%= sidebar_current("docs-extend-best-practices-testing") %>>
            <a href="/docs/extend/best-practices/testing.html">Testing Patterns</a>
          </li>

          <li<%= sidebar_current("docs-extend-best-practices-versioning") %>>
            <a href="/docs/extend/best-practices/versioning.html">Versioning and Changelog</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-extend-testing") %>>
        <a href="/docs/extend/testing/index.html">Testing</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-extend-testing-acceptance") %>>
            <a href="/docs/extend/testing/acceptance-tests/index.html">Acceptance Tests</a>
          </li>
          <li<%= sidebar_current("docs-extend-testing-unit") %>>
            <a href="/docs/extend/testing/unit-testing.html">Unit Testing</a>
          </li>
          <!--
          <li<%= sidebar_current("docs-extend-testing-patterns") %>>
            <a href="/docs/extend/testing/testing-patterns.html">Resource Test Patterns</a>
          </li>
          -->
        </ul>
      </li>

      <li<%= sidebar_current("docs-extend-community") %>>
        <a href="/docs/extend/community/index.html">Community</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-extend-community-contributing") %>>
            <a href="/docs/extend/community/contributing.html">Contributing</a>
          </li>
          <li<%= sidebar_current("docs-extend-community-code-of-conduct") %>>
            <a href="/docs/extend/community/code-of-conduct.html">Code of Conduct</a>
          </li>
          <li<%= sidebar_current("docs-extend-community-events") %>>
            <a href="/docs/extend/community/events/index.html">Events</a>
            <ul class="nav">
              <li<%= sidebar_current("docs-extend-community-events-2018-fall-gardening") %>>
                <a href="/docs/extend/community/events/2018/fall-gardening.html">Gardening - Fall 2018</a>
              </li>
            </ul>
          </li>
          <li<%= sidebar_current("docs-extend-community-maintainers") %>>
            <a href="/docs/extend/community/maintainers.html">Maintainers</a>
          </li>
        </ul>
      </li>

      <hr>

      <li<%= sidebar_current("docs-extend-internals") %>>
        <a class="back" href="/docs/internals/index.html">Terraform Internals</a>
      </li>
      <li<%= sidebar_current("docs-extend-provider-dev-program") %>>
        <a class="back" href="/guides/terraform-provider-development-program.html">Terraform Provider Development Program</a>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
