<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <h4><a href="/docs/github-actions/index.html">Terraform GitHub Actions</a></h4>

    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("docs-github-actions-started") %>>
        <a href="/docs/github-actions/getting-started/index.html">Getting Started</a>
      </li>

      <li<%= sidebar_current("docs-github-actions-actions") %>>
        <a href="/docs/github-actions/actions/index.html">Actions Reference</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-github-actions-actions-fmt") %>>
            <a href="/docs/github-actions/actions/fmt.html">fmt</a>
          </li>
          <li<%= sidebar_current("docs-github-actions-actions-init") %>>
            <a href="/docs/github-actions/actions/init.html">init</a>
          </li>
          <li<%= sidebar_current("docs-github-actions-actions-validate") %>>
            <a href="/docs/github-actions/actions/validate.html">validate</a>
          </li>
          <li<%= sidebar_current("docs-github-actions-actions-plan") %>>
            <a href="/docs/github-actions/actions/plan.html">plan</a>
          </li>
          <li<%= sidebar_current("docs-github-actions-actions-apply") %>>
            <a href="/docs/github-actions/actions/apply.html">apply</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-github-actions-directories") %>>
        <a href="/docs/github-actions/directories.html">Directories</a>
      </li>

      <li<%= sidebar_current("docs-github-actions-workspaces") %>>
        <a href="/docs/github-actions/workspaces.html">Workspaces</a>
      </li>

      <li<%= sidebar_current("docs-github-actions-remote-backend") %>>
        <a href="/docs/github-actions/remote-backend.html">Remote Backend</a>
      </li>

      <li<%= sidebar_current("docs-github-actions-tf-versions") %>>
        <a href="/docs/github-actions/terraform-versions.html">Terraform Versions</a>
      </li>

      <li<%= sidebar_current("docs-github-actions-running-apply") %>>
        <a href="/docs/github-actions/running-apply.html">Running Apply</a>
      </li>

    </ul>

    <%= partial("layouts/otherdocs", :locals => { :skip => "Terraform GitHub Actions" }) %>
  <% end %>

  <%= yield %>
<% end %>

