<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description_for(current_page) %>">
    <% if current_page.data.hidden %>
      <meta name="robots" content="noindex">
    <% end %>

    <link rel="canonical" href="<%= File.join(base_url, current_page.url) %>" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path("favicons/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" href="<%= image_path("favicons/favicon-32x32.png") %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= image_path("favicons/favicon-16x16.png") %>" sizes="16x16">
    <link rel="manifest" href="/android-manifest.json">
    <link rel="mask-icon" href="<%= image_path("favicons/safari-pinned-tab.svg") %>" color="#5C4EE5">
    <meta name="msapplication-config" content="/microsoft-tile.xml" />
    <meta name="theme-color" content="#ffffff">
    <% if content_for?(:custom_share) %><%# large, charismatic unfurl when sharing marketing pages %>
      <%= yield_content :custom_share %>
    <% else %><%# small, Slack-friendly unfurl when sharing many docs/downloads links in a row %>
      <meta name="twitter:card" content="summary" />
      <meta property="og:image" content="<%= image_url("og-image.png") %>"/>
      <meta property="og:image:width" content="100"/>
      <meta property="og:image:height" content="100"/>
    <% end %>
    <meta name="twitter:site" content="@HashiCorp" />
    <meta name="twitter:creator" content="@HashiCorp" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= File.join(base_url, current_page.url) %>" />
    <meta property="og:title" content="<%= title_for(current_page) %>" />
    <meta property="og:site_name" content="Terraform by HashiCorp"/>
    <meta property="og:description" content="<%= description_for(current_page) %>" />

    <title><%= title_for(current_page) %></title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://use.typekit.net/wxf7mfi.css">
    <%= stylesheet_link_tag "application" %>

    <!-- Site scripts -->
    <!--[if lt IE 9]><%= javascript_include_tag "ie-compat", defer: true %><![endif]-->
    <%= javascript_include_tag "application", defer: true %>
    <%= javascript_include_tag "alert-banner", defer: true %>
    <%= javascript_include_tag "terraform-overview/home-hero", defer: true %>

    <!-- Analytics scrpts -->
    <script defer>
      !function(){var e=window.analytics=window.analytics||[];if(!e.initialize)if(e.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{e.invoked=!0,e.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"],e.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),e.push(a),e}};for(var t=0;t<e.methods.length;t++){var a=e.methods[t];e[a]=e.factory(a)}e.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+e+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(t,a)},e.SNIPPET_VERSION="4.0.0",e.load("<%= segmentId %>")}}();var om597a24292a958,om597a24292a958_poll=function(){var e=0;return function(t,a){clearInterval(e),e=setInterval(t,a)}}();!function(e,t,a){if(e.getElementById(a))om597a24292a958_poll(function(){if(window.om_loaded&&!om597a24292a958)return(om597a24292a958=new OptinMonsterApp).init({s:"35109.597a24292a958",staging:0,dev:0,beta:0})},25);else{var n=!1,o=e.createElement("script");o.id=a,o.src="//a.optnmstr.com/app/js/api.min.js",o.async=!0,o.onload=o.onreadystatechange=function(){if(!(n||this.readyState&&"loaded"!==this.readyState&&"complete"!==this.readyState))try{n=om_loaded=!0,(om597a24292a958=new OptinMonsterApp).init({s:"35109.597a24292a958",staging:0,dev:0,beta:0}),o.onload=o.onreadystatechange=null}catch(e){}},(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}}(document,0,"omapi-script");
    </script>

    <%= yield_content :head %>
  </head>

  <body id="<%= body_id_for(current_page) %>" class="<%= body_classes_for(current_page) %>">
    <%= partial("layouts/alert_banner", locals: {show: false, theme: 'terraform', url:"https://www.hashicorp.com/webinars/provision-infrastructure-using-cloud-development-kit-for-terraform/", tag:"Live Webinar", text:"Write an infrastructure application in TypeScript and Python using CDK for Terraform", cta:"Register Now"}) %>

    <header class="hashiStackMenuRoot hashiStackMenu">
            <nav class="nav g-container">
              <a class="logoLink" href="https://www.hashicorp.com">
              <div data-testid="root"> <%= inline_svg "hashicorp-logo.svg" %> </div></a>
              <menu class="menu">
              <li class="navItem">
                <button
                    type="button"
                    class="buttonReset link"
                  >
                    Browse Products
                    <span class="visuallyHidden">Open this menu</span>
                    <div data-testid="root">
                      <%= inline_svg "hashi-stack-menu/icon-dropdown.svg" %>
                    </div>
                  </button>
                  <section class="browsePanel">
                    <menu class="stackMenuSection">
                      <li class="stackGroup">
                        <h5 class="stackGroupHeading">Infrastructure</h5>
                        <ul class="stackGroupLinkList">
                          <li class="stackItem">
                            <a href="https://www.terraform.io" class="itemLink"
                              ><img
                                src="/assets/images/product-icons/terraform-icon-color.svg"
                                class="productIcon"
                                alt="terraform by HashiCorp"
                              /><span class="productName itemName">terraform</span></a
                            >
                          </li>
                          <li class="stackItem">
                          <a href="https://www.packer.io" class="itemLink"
                            ><img
                              src="/assets/images/product-icons/packer-icon-color.svg"
                              class="productIcon"
                              alt="packer by HashiCorp"
                            /><span class="productName itemName">packer</span></a
                          >
                        </li>
                          <li class="stackItem">
                            <a href="https://www.vagrantup.com" class="itemLink"
                              ><img
                                src="/assets/images/product-icons/vagrant-icon-color.svg"
                                class="productIcon"
                                alt="vagrant by HashiCorp"
                              /><span class="productName itemName">vagrant</span></a
                            >
                          </li>
                        </ul>
                      </li>
                      <li class="stackGroup">
                        <h5 class="stackGroupHeading">Networking</h5>
                        <ul class="stackGroupLinkList">
                          <li class="stackItem">
                            <a href="https://www.consul.io" class="itemLink"
                              ><img
                                src="/assets/images/product-icons/consul-icon-color.svg"
                                class="productIcon"
                                alt="consul by HashiCorp"
                              /><span class="productName itemName">consul</span></a
                            >
                          </li>
                        </ul>
                      </li></menu
                    ><menu class="stackMenuSection"
                      ><li class="stackGroup">
                        <h5 class="stackGroupHeading">Security</h5>
                        <ul class="stackGroupLinkList">
                          <li class="stackItem">
                            <a href="https://www.vaultproject.io" class="itemLink"
                              ><img
                                src="/assets/images/product-icons/vault-icon-color.svg"
                                class="productIcon"
                                alt="vault by HashiCorp"
                              /><span class="productName itemName">vault</span></a
                            >
                          </li>
                          <li class="stackItem">
                            <a href="https://boundaryproject.io/" class="itemLink"
                              ><img
                                src="/assets/images/product-icons/boundary-icon-color.svg"
                                class="productIcon"
                                alt="Boundary by HashiCorp"
                              /><span class="productName itemName">Boundary</span>
                              <span class="badge badgeTypeNew">New</span>
                              </a
                            >
                          </li>
                        </ul>
                      </li>
                      <li class="stackGroup">
                        <h5 class="stackGroupHeading">Applications</h5>
                        <ul class="stackGroupLinkList">
                          <li class="stackItem">
                            <a href="https://www.nomadproject.io" class="itemLink"
                              ><img
                                src="/assets/images/product-icons/nomad-icon-color.svg"
                                class="productIcon"
                                alt="nomad by HashiCorp"
                              /><span class="productName itemName">nomad</span></a
                            >
                          </li>
                          <li class="stackItem">
                          <a href="https://waypointproject.io/" class="itemLink"
                            ><img
                              src="/assets/images/product-icons/waypoint-icon-color.svg"
                              class="productIcon"
                              alt="Waypoint by HashiCorp"
                            /><span class="productName itemName">Waypoint</span>
                            <span class="badge badgeTypeNew">New</span>
                            </a
                          >
                        </li>
                        </ul>
                      </li></menu
                    ><menu class="stackMenuSectionPlusDivider stackMenuSection"
                      ><li class="stackGroup">
                        <h5 class="stackGroupHeading">HashiCorp Cloud Platform</h5>
                        <ul class="stackGroupLinkList">
                          <li class="stackItem">
                          <a href="https://www.hashicorp.com/cloud-platform" class="itemLink">
                          <img
                              src="/assets/images/product-icons/consul-icon-color.svg"
                              class="productIcon"
                              alt="consul by HashiCorp"
                            />
                            <span class="productName itemName">consul</span>
                            <span class="badge">Public Beta</span>
                            </a>
                        </li>
                          <li class="stackItem">
                            <a href="https://app.terraform.io" class="itemLink"
                              ><img
                                src="/assets/images/product-icons/terraform-icon-color.svg"
                                class="productIcon"
                                alt="terraform by HashiCorp"
                              /><span class="productName itemName">terraform</span></a
                            >
                          </li>
                          <li class="stackItem">
                            <a href="https://www.hashicorp.com/cloud-platform" class="itemLink"
                              ><img
                                src="/assets/images/product-icons/vault-icon-color.svg"
                                class="productIcon"
                                alt="vault by HashiCorp"
                              /><span class="productName itemName">vault</span>
                              <span class="badge">Private Beta</span>
                              </a
                            >
                          </li>
                        </ul>
                      </li>
                      <li class="stackGroup">
                        <h5 class="stackGroupHeading">Partner Services</h5>
                        <ul class="stackGroupLinkList">
                          <li class="stackItem">
                            <a
                              class="itemLink"
                              href="https://www.hashicorp.com/products/consul/service-on-azure"
                              ><span class="itemName"
                                >HashiCorp Consul Service (HCS) on Azure</span
                              ></a
                            >
                          </li>
                        </ul>
                      </li>
                      </menu>
                  </section>
                </li>
                <li class="navItem">
                  <a
                    class="link"
                    href="https://www.hashicorp.com/about">About HashiCorp</a>
                </li>
                </menu>
            </nav>
    </header>
    <div id="header" class="navigation navbar-static-top hidden-print">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="navbar-header">
              <div class="navbar-brand">
                <a href="/">
                  <%= inline_svg "logo-text.svg", height: 50, class: "logo" %>
                </a>
              </div>
              <button class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <%
              docs_items = <<-EOT
                <li><a data-track='docs-home' href="/docs/index.html">About the Docs</a></li>
                <li><a data-track='docs-language' href="/docs/configuration/index.html">Terraform Language</a></li>
                <li><a data-track='docs-cli' href="/docs/cli-index.html">Terraform CLI</a></li>
                <li><a data-track='docs-cloud' href="/docs/cloud/index.html">Terraform Cloud</a></li>
                <li><a data-track='docs-ent' href="/docs/enterprise/index.html">Terraform Enterprise</a></li>
                <li><a data-track='docs-providers' href="/docs/providers/index.html">Providers</a></li>
                <li>
                  <a data-track='docs-registry-outbound' href="https://registry.terraform.io">
                    Terraform Registry
                    #{inline_svg("outbound-link.svg", class: "hack-outbound-svg")}
                  </a>
                </li>
                <li><a data-track='docs-glossary' href="/docs/glossary.html">Glossary</a></li>
                <li><a data-track='docs-registry' href="/docs/registry/index.html">Publishing Providers &amp; Modules</a></li>
                <li><a data-track='docs-extending' href="/docs/extend/index.html">Extending Terraform</a></li>
              EOT
            %>

            <div class="buttons hidden-xs">
              <nav class="navigation-links" role="navigation">
                <ul class="main-links nav navbar-nav navbar-right">
                  <li class="visible-sm"><span><a href="/index.html">Info</a><svg width="9" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M8.811 1.067a.612.612 0 0 0 0-.884.655.655 0 0 0-.908 0L4.5 3.491 1.097.183a.655.655 0 0 0-.909 0 .615.615 0 0 0 0 .884l3.857 3.75a.655.655 0 0 0 .91 0l3.856-3.75z" fill-rule="evenodd"/></svg></span>
                    <ul class="dropdown">
                      <li><a data-track='intro' href="/intro/index.html">Intro</a></li>
                      <li><a data-track='learn' href="https://learn.hashicorp.com/terraform/">Tutorials</a></li>
                      <li><a data-track='community' href="/community.html">Community</a></li>
                      <li><a data-track='enterprise' href="https://www.hashicorp.com/products/terraform/?utm_source=oss&utm_medium=header-nav&utm_campaign=terraform">Enterprise</a></li>
                    </ul>
                  </li>
                  <li class="hidden-sm"><a data-track='intro' href="/intro/index.html">Intro</a></li>
                  <li class="hidden-sm"><a data-track='learn' href="https://learn.hashicorp.com/terraform/">Tutorials</a></li>
                  <li><span><a data-track='docs' href="/docs/index.html">Docs</a><svg width="9" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M8.811 1.067a.612.612 0 0 0 0-.884.655.655 0 0 0-.908 0L4.5 3.491 1.097.183a.655.655 0 0 0-.909 0 .615.615 0 0 0 0 .884l3.857 3.75a.655.655 0 0 0 .91 0l3.856-3.75z" fill-rule="evenodd"/></svg></span>
                    <ul class="dropdown">
                      <%= docs_items %>
                    </ul>
                  </li>
                  <li class="hidden-sm"><a data-track='community' href="/community.html">Community</a></li>
                  <li class="hidden-sm"><a data-track='enterprise' href="https://www.hashicorp.com/products/terraform/?utm_source=oss&utm_medium=header-nav&utm_campaign=terraform">Enterprise</a></li>
                  <li>
                    <a data-track='download' href="/downloads.html">
                      <%= inline_svg "download.svg" %> Download
                    </a>
                  </li>
                  <li>
                    <a data-track='github' href="https://github.com/hashicorp/terraform">
                      <%= inline_svg "github.svg" %> GitHub
                    </a>
                  </li>
                   <li id="terraform-overview-sign-in-link">
                   <div>
                    <a data-track='sign-in' href="https://app.terraform.io/session?utm_source=docs_banner">
                      Sign In
                    </a>
                    </div>
                  </li>
                   <li id="terraform-overview-sign-up-link" class="hidden-md hidden-sm">
                   <div>
                    <a data-track='sign-up' href="https://app.terraform.io/signup/account?utm_source=docs_banner">
                      Create Account
                    </a>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= partial("layouts/sidebar", locals: {docs_items: docs_items}) %>

    <%= yield %>

    <div id="footer" class="navigation hidden-print">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="footer-links nav navbar-nav">
              <li><a href="/intro/index.html">Intro</a></li>
              <li><a href="/docs/index.html">Docs</a></li>
              <li><a href="/docs/extend/index.html">Extend</a></li>
              <li><a href="https://www.hashicorp.com/privacy">Privacy</a></li>
              <li><a href="/security.html">Security</a></li>
              <li><a href="/assets/files/press-kit.zip">Press Kit</a></li>
            </ul>
            <ul class="footer-links nav navbar-nav navbar-right">
              <li><a href="<%= github_edit_url(current_page) %>">Edit this page</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Product",
        "name": "Terraform",
        "alternateName": "Terraform by HashiCorp",
        "manufacturer": "HashiCorp",
        "url": "https://www.terraform.io",
        "logo": "<%= File.join(base_url, image_path("logo-hashicorp.svg")) %>",
        "sameAs": [
          "https://github.com/hashicorp/terraform"
        ]
      }
    </script>
  </body>
</html>
